* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* font-family: sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow-x: hidden; */
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.custom-logo {
    /* width: 139px;
    height: 46px; */
    width: 10em;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#active {
    /* color: #005D52; */
    color: #B4D033;
}

.nav-links-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    /* margin-right: 2em; */
}

.nav-links-1 .nav-link {
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.nav-links-1 .nav-link:hover {
    cursor: pointer;
    text-decoration: none;
    /* color: #005D52; */
    color: white;
}

.nav-links-1 button {
    background-color: #B4D033;
    /* border: 1px solid black; */
    border: none;
    border-radius: 0.5em;
    /* padding: 0.5em;
    margin-top: 2em; */
}

.nav-links-2 {
    display: flex;
    flex-direction: row;
    /* gap: 1em; */
    /* margin-right: 2em; */
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.nav-links-2 .nav-link:hover {
    cursor: pointer;
    text-decoration: none;
    /* color: #005D52; */
    color: #B4D033;
}

/* Section One Styling */

.section-one {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: #005D52;
    color: white;
    /* gap: 10em; */
    padding: 4em 15em 4em 15em;
    width: 100%;
}

/* .container-1 {
    display: flex;
    flex-direction: column;
    width: 40em;
} */

.section-one h1 {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.header-one {
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
    width: fit-content;
}

.first-paragraph {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; */
    /* text-align: center; */
    /* width: 50em; */
    padding-top: 0.5em;
    /* line-height: 2em; */
}

.spacer {
    display: block;
    height: 1.5em;
}

.partner-button {
    width: 12em;
    background-color: #B4D033;
    /* border: 1px solid black; */
    border: #B4D033;
    border-radius: 0.5em;
    padding: 0.5em;
}

.partner-button a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.partner-button a:hover {
    font-weight: 700;
    text-decoration: none;
    color: white;
}

/* Section Two Styling */

.section-two {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 4em;
    width: 100%;
}

.section-two-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 4em 0 4em;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 24em;
    border: 1px solid black;
}
  
  .card-body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-two p {
    text-align: center;
    font-size: 1.2em;
}

.section-two a {
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.section-two a:hover {
    color: #B4D033;
}

/* Footer Styling */

footer {
    background-color: #B4D033;
    padding: 1em 2em;
}

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
}

.footer-inner-container a {
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.footer-inner-container a:hover {
    color: white;
}

.footer-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-outer-container img {
    width: 10em;
    /* height: auto; */
}