* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* font-family: sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow-x: hidden; */
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.custom-logo {
    /* width: 139px;
    height: 46px; */
    width: 10em;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#active {
    /* color: #005D52; */
    color: #B4D033;
}

.nav-links-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    /* margin-right: 2em; */
}

.nav-links-1 .nav-link {
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.nav-links-1 .nav-link:hover {
    cursor: pointer;
    text-decoration: none;
    /* color: #005D52; */
    color: white;
}

.nav-links-1 button {
    background-color: #B4D033;
    /* border: 1px solid black; */
    border: none;
    border-radius: 0.5em;
    /* padding: 0.5em;
    margin-top: 2em; */
}

.nav-links-2 {
    display: flex;
    flex-direction: row;
    /* gap: 1em; */
    /* margin-right: 2em; */
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.nav-links-2 .nav-link:hover {
    cursor: pointer;
    text-decoration: none;
    /* color: #005D52; */
    color: #B4D033;
}

/* Section One Styling */

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #005D52;
    color: white;
    padding: 4em 10em;
    width: 100%;
}

.section-one h1 {
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
}

.section-one p {
    text-align: center;
    width: 50em;
    padding-top: 0.5em;
    font-size: 1.2em;
}

/* Section Two Styling */

.section-two {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 10em;
}

.section-two-outer-container {
    border: 2px solid black;
    padding: 2em;
    border-radius: 0.5em;
}

.section-two-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start; 
    gap: 5em;
}

.section-two-container:first-of-type {
    margin-bottom: 4em;
}

.section-two-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 22em;
}

.section-two-inner-container h3 {
    border-bottom: 2px solid black;
    /* width: fit-content; */
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.e-fas-phone-alt,
.e-far-envelope {
    width: 1em;
}

.section-two span {
    padding-left: 1em;
}

/* Footer Styling */

footer {
    background-color: #B4D033;
    padding: 1em 2em;
}

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
}

.footer-inner-container a {
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.footer-inner-container a:hover {
    color: white;
}

.footer-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-outer-container img {
    width: 10em;
    /* height: auto; */
}